button {
    margin: 10px 260px;
    padding: 10px 40px;
    padding-right: 5%;
    padding-left: 5%;

}

p {
    text-align: center;
    font-size: 60px;
    color:white;
    background-color: darkolivegreen;
}