p {
    text-align: center;
    font-size: 40px;
    color:white;
    background-color:olivedrab;
}

button{
    margin-left: 5px;
    margin-right: 5px;
}


div{
    justify-content: center;
}


#Nouveau {
    margin-top: 10px;
    margin-left: 600px;
    padding: 10px 40px;
    padding-right: 5%;
    padding-left: 5%;

}

#Remove {
    margin-left: 10px;
}